.woocommerce-page #page-wrap.container {
	max-width: 1170px;
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #ededed;
}
.woocommerce-page.woocommerce-cart #page-wrap.container {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 143px);
}
.woocommerce-page.woocommerce-cart #page-wrap #content {
	width: 100%;
}
.woocommerce div.product form.cart:before,
.woocommerce div.product form.cart:after {
	display: none;
	visibility: hidden;
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
	display: block;
	text-align: left;
	width: 100%;
}
.woocommerce div.product form.cart {
	display: flex;
	column-gap: 30px;
}
.woocommerce div.product .summary form.cart {
	column-gap: 2px;
}
.woocommerce-product-details__short-description {
	margin-bottom: 35px;
}
.woocommerce div.product form.cart .single_variation_wrap {
	min-width: fit-content;
}
.woocommerce div.product form.cart .single_variation_wrap .woocommerce-variation.single_variation {
	min-height: 34px;
}
.woocommerce table.shop_table {
	border: 0;
	border-radius: 0;
	border-collapse: collapse;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
	border-left: 0;
	border-right: 0;
}
.woocommerce table.shop_table thead th {
	background-color: transparent;
	text-transform: none;
	border-top: 0;
}
.woocommerce table.shop_table th {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.03em;
	color: #012438;
	padding: 13px 15px 13px 0;
}
.woocommerce table.shop_table.order_details th,
.woocommerce table.shop_table.order_details td {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.02em;
}
.woocommerce .woocommerce-order-details .shop_table.order_details thead .product-name {
    width: 65%;
}
.woocommerce table.shop_table.order_details tfoot th,
.woocommerce table.shop_table.order_details tfoot td {
	padding: 43px 0 43px;
}
.woocommerce table.shop_table.order_details tfoot td {
	color: #012438;
}
.woocommerce table.shop_table th.product-remove {
	padding-left: 0;
	width: 35px;
	max-width: 35px;
}
.woocommerce table.shop_table td {
	padding: 35px 15px 35px 0;
}
.woocommerce table.shop_table td:last-child {
	padding-right: 0;
}
.woocommerce table.shop_table td.product-remove {
	padding-left: 0;
}
.woocommerce table.shop_table td.product-thumbnail {
	width: 223px;
	padding-right: 35px;
}
.shop_table .order-total td,
.shop_table .order-total th {
	border: 0 !important;
}
.woocommerce a.remove {
    display: block;
    font-size: 20px;
    height: 8px;
    width: 8px;
    text-align: center;
    line-height: 8px;
    border-radius: 100%;
    color: #002349 !important;
    text-decoration: none;
    font-weight: 500;
    border: 0;
}
.woocommerce a.remove:hover {
    color: red!important;
    background: transparent;
}
.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
	width: 188px;
	height: 130px;
	object-fit: cover;
}
.woocommerce table.shop_table td.product-name h5 {
	font-size: 20px;
	line-height: 1.5em;
}
.bh-reservation-info {
	color: #6E767A;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.bh-reservation-info .bh-info + .bh-info {
	padding-top: 13px;
}
.bh-reservation-info + .bh-reservation-info {
	padding-top: 13px;
}
.bh-reservation-info .bh-info-label {
	color: #012438;
}
.bh-order-status {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	padding-top: 26px;
	color: #6E767A;
}
.bh-order-status.completed {
	color: #002F8A;
}
.bh-order-status.processing {
	color: #008A05;
}
.bh-order-status.refunded {
	color: #FA2A4F;
}
.bh-order-status.on-hold {
	color: #F2994A;
}
.bh-order-status.pending {
	color: #FA2A4F;
}
.bh-order-status.canceled {
	color: #6E767A;
}
.bh-room.bh-room-search-item.order {
	column-gap: 35px;
}
.bh-room-city a {
	color: inherit;
}
.bh-room.bh-room-search-item.order .bh-room-img {
	max-width: 188px;
	min-width: 188px;
}
.woocommerce .product-quantity .quantity {
	display: flex;
	align-items: center;
}
.woocommerce .product-quantity .qty-button {
	width: 25px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}
.woocommerce .product-quantity .quantity input.qty {
	border: 1px solid #DDDEDE;
	padding: 0px 5px;
	min-width: 50px;
	max-width: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.woocommerce .product-quantity input.qty::-webkit-outer-spin-button,
.woocommerce .product-quantity input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.woocommerce .product-quantity input.qty {
    -moz-appearance:textfield;
}
.woocommerce table.shop_table td.product-price,
.woocommerce table.shop_table td.product-subtotal {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #002349;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
	width: auto;
	min-width: 296px;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	padding: 23px 41px;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	border-radius: 0;
	background: #012438;
	color: #fff;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	background-color: #DA975A;
}
.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, 
.woocommerce a.button:disabled, 
.woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled] {
	padding: 23px 41px;
	background-color: #F2F2F2;
	opacity: 1;
	color: #012438;
}
#add_payment_method table.cart td.actions .coupon .input-text, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	border: 1px solid #B8BDBD;
	padding: 21px;
	margin-right: 14px;
}
.woocommerce .cart-collaterals .cart_totals > h2, 
.woocommerce-page .cart-collaterals .cart_totals > h2 {
	display: none;
}
#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table th, 
.woocommerce-checkout .cart-collaterals .cart_totals table th {
	vertical-align: middle;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #002349;
	letter-spacing: 0;
}
#add_payment_method .cart-collaterals .cart_totals table td, 
.woocommerce-cart .cart-collaterals .cart_totals table td, 
.woocommerce-checkout .cart-collaterals .cart_totals table td {
	padding: 27px 0 27px 30px;
	text-align: right;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #002349;
}
#add_payment_method .cart-collaterals .cart_totals table td strong, 
.woocommerce-cart .cart-collaterals .cart_totals table td strong, 
.woocommerce-checkout .cart-collaterals .cart_totals table td strong {
	font-weight: inherit;
}
.woocommerce .woocommerce-cart .woocommerce-cart-form {
	margin-bottom: 40px;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	max-width: 360px;
}
.woocommerce-cart .empty-cart-content {
	margin-bottom: 40px;
}
.woocommerce-cart .empty-cart-content,
.woocommerce-cart .empty-cart-content + .return-to-shop {
	text-align: center;
}
.woocommerce-cart .empty-cart-content + .return-to-shop .button {
	background-color: #DA975A;
	color: #fff;
}
.bh-checkout-cart-item .product-thumbnail {
	display: flex;
	flex-wrap: wrap;
}
.bh-checkout-cart-item .product-thumbnail .bh-product-image {
	display: inline-block;
	width: 50%;
	padding-right: 27px;
}
.bh-checkout-cart-item .product-thumbnail .bh-product-image img {
	width: 100%;
	height: 131px;
	object-fit: cover;
}
.bh-checkout-cart-item .product-name {
	width: 50%;
}
.bh-checkout-cart-item .product-name h5 {
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 400;
}
.bh-checkout-cart-item .product-thumbnail .product-details {
	padding-top: 50px;
	width: 100%;
}
.woocommerce-checkout .col2-set {
    width: 100%;
    display: flex;
}
.woocommerce-checkout .col2-set .col-1 {
	width: 55.55%;
}
.woocommerce-checkout .col2-set .col-2 {
	width: 44.55%;
	padding-left: 90px;
}
.checkout.woocommerce-checkout h3 {
	font-size: 24px;
	line-height: 1.25em;
	margin-bottom: 40px;
}
#content .woocommerce input[type="text"], 
#content .woocommerce input[type="date"], 
#content .woocommerce input[type="password"], 
#content .woocommerce input[type="email"], 
#content .woocommerce input[type="url"], 
#content .woocommerce input[type="tel"], 
#content .woocommerce input[type="number"], 
#content .woocommerce textarea, 
#content .woocommerce select {
	border: 1px solid #B8BDBD;
}
.woocommerce .woocommerce-ordering {
    margin: 0 0 3em;
}
.woocommerce span.onsale {
	background-color: #DA975A;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #DA975A;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	font-size: 24px;
	font-weight: 700;
}
#site-content > .product > .title {
	margin-bottom: 30px;
}
.woocommerce-tabs.wc-tabs-wrapper {
	margin-bottom: 45px;
}
.woocommerce-Reviews #comments {
	background-color: transparent;
	padding: 0;
}
.woocommerce nav.woocommerce-pagination ul {
	border: 0;
}
.woocommerce nav.woocommerce-pagination ul li {
	border: 0;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: transparent;
    color: #012438;
    font-size: 12px;
    text-align: center;
    margin: 0 3px;
    padding: 0;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: #012438;
	color: #fff;
}
#payment .wc-stripe-elements-field, #payment .wc-stripe-iban-element-field {
    border: 1px solid #B8BDBD;
    margin: 0;
    padding: 20px 20px;
    background-color: #fff;
    outline: 0;
}
.woocommerce .woocommerce-checkout label {
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #012438;
	margin-bottom: 14px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 48%;
}
.woocommerce form .form-row {
    padding: 0px;
    margin: 0 0 34px;
}
.woocommerce form .form-row#billing_address_1_field {
	margin-bottom: 15px;
}
.select2-container--default .select2-selection--single {
	border-radius: 0 !important;
	border: 1px solid #B8BDBD;
	padding: 20px 19px;
	font-size: 14px;
	line-height: 14px;
	height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #012438 !important;
    line-height: 18px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: calc(50% - 13px) !important;
    right: 10px !important;
}
.woocommerce-additional-fields > h3 {
	display: none;
}
.woocommerce-additional-fields #order_comments {
	height: 150px;
}
.shop_table.woocommerce-checkout-review-order-table {
	border-collapse: collapse !important;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table th {
	padding: 20px 20px 20px 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0;
}
.shop_table.woocommerce-checkout-review-order-table td strong {
	font-weight: inherit;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table td {
	text-align: right;
	padding: 20px 0 20px 20px;
}
.woocommerce-checkout-review-order {
	padding-top: 50px;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background-color: transparent;
	border-radius: 0;
}
#add_payment_method #payment ul.payment_methods, 
.woocommerce-cart #payment ul.payment_methods, 
.woocommerce-checkout #payment ul.payment_methods {
	padding: 0;
}
#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
	margin-bottom: 10px;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	padding: 0;
	background-color: transparent;
	margin: 0;
	font-size: 15px;
	line-height: 28px;
	color: #101010;
	padding: 0 0 25px 30px;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
	display: none;
}
#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
	padding: 20px 0 0 0;
	border: 0;
}
.woocommerce-privacy-policy-text {
	font-size: 12px;
	line-height: 17px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	width: 100%;
	float: none;
	position: sticky;
	top: 0px;
	z-index: 2;
	margin-bottom: 55px !important;
}
.admin-bar .woocommerce #payment #place_order {
	top: 32px;
}
.woocommerce-SavedPaymentMethods-saveNew {
	display: flex;
}
#wc-stripe-new-payment-method {
	margin-top: 3px;
}
#wc-stripe-new-payment-method + label {
	margin-bottom: 0 !important;
	line-height: 20px;
	font-size: 12px;
}
#add_payment_method #payment div.payment_box .wc-credit-card-form, .woocommerce-cart #payment div.payment_box .wc-credit-card-form, .woocommerce-checkout #payment div.payment_box .wc-credit-card-form {
	margin-top: 0 !important;
}
.woocommerce-remove-coupon {
	font-size: 12px;
	color: inherit;
	position: relative;
	font-weight: 400;
}
.woocommerce-form-coupon-toggle .woocommerce-info {
	border: 0;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.bh-woocommerce-coupon {
	border: 1px solid #DDDEDE;
	background-color: #fff;
	padding: 30px;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	color: #000;
	margin-bottom: 20px;
}
.woocommerce-form-coupon-toggle .woocommerce-info:before,
.woocommerce-form-coupon-toggle + .checkout_coupon.woocommerce-form-coupon {
	display: none;
}
.bh-woocommerce-coupon .checkout_coupon.woocommerce-form-coupon {
	padding-top: 25px;
}
.bh-woocommerce-coupon .checkout_coupon.woocommerce-form-coupon input {
	margin-bottom: 10px;
}
.bh-woocommerce-coupon .checkout_coupon.woocommerce-form-coupon button {
	width: 100%;
}
.woocommerce-table__line-item .product-name {
	overflow: hidden;
	vertical-align: middle;
}
.woocommerce-table__line-item .product-name h5 {
	margin-bottom: 17px;
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 400;
}
.product-name .product-image,
.product-name > img {
	width: 100%;
	max-width: 188px;
	height: 131px;
	object-fit: cover;
	float: left;
	margin-right: 35px;
}
.product-name .product-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.woocommerce-thankyou-order-received {
	padding: 40px;
	color: #101010;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 45px;
}
.woocommerce-notice--success.woocommerce-thankyou-order-received {
	background-color: #D4FAD3;
}
.woocommerce ul.order_details {
	padding-left: 0;
	margin-bottom: 100px;
}
.woocommerce ul.order_details li {
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	text-transform: none;
	border-right: 1px solid #DDDEDE;
	padding-right: 50px;
	margin-right: 50px;
	color: #101010;
}
.woocommerce ul.order_details li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}
.woocommerce ul.order_details li strong {
	font-weight: 400;
	padding-top: 13px;
	font-size: 14px;
}
.woocommerce-order-details__title,
.woocommerce-column__title {
	font-size: 24px;
	line-height: 1.25em;
	margin-bottom: 35px;
}
.woocommerce .woocommerce-order-details {
	margin-bottom: 80px;
}
.woocommerce .woocommerce-order-details .shop_table.order_details {
	border-bottom: 1px solid #DDDEDE;
}
.woocommerce .woocommerce-order-details .shop_table.order_details thead .product-name {
	width: 75%;
}
.woocommerce .woocommerce-customer-details address {
	width: auto;
	padding: 40px;
	border-radius: 0;
	border: 1px solid #DDDEDE;
	display: inline-block;
	min-width: 400px;
	font-size: 14px;
	color: #101010;
	line-height: 33px;
	font-weight: 400;
}
.woocommerce .woocommerce-customer-details address p {
	width: auto;
	position: relative;
	padding-left: 0 !important;
}
.woocommerce .woocommerce-customer-details address p::before {
	display: none !important;
}
.woocommerce div.product div.images.woocommerce-product-gallery,
.woocommerce div.product div.images.woocommerce-product-gallery + .summary {
	width: 100%;
	float: none;
}
.woocommerce .summary .quantity .qty {
	width: auto;
	max-width: 62px;
	height: 62px;
	appearance: none;
	border: 1px solid #DDDEDE;
	text-align: center;
}
.woocommerce .summary .quantity input.qty::-webkit-outer-spin-button,
.woocommerce .summary .quantity input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.woocommerce .summary .quantity input.qty {
    -moz-appearance:textfield;
}
.woocommerce-MyAccount-navigation ul {
	margin: 0;
	padding: 21px 30px 21px 40px;
	list-style: none;
	border: 1px solid #dddede;
	display: flex;
	flex-direction: column;
}
.woocommerce-MyAccount-navigation ul li {
	order: 10;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account {
	order: 1;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads {
	order: 13;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions {
	order: 14;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout {
	order: 15;
}
.woocommerce-MyAccount-navigation ul li a {
	display: inline-block;
	padding:15px 0 15px 46px;
	position: relative;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: #012438;
	text-transform: capitalize;
}
.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-MyAccount-navigation ul li.is-active a {
	color: #DA975A;
}
.woocommerce-MyAccount-navigation ul li a:before {
	content: "";
	position: absolute;
	left: 0;
	width: 22px;
	height: 24px;
	font-family: "Line Awesome Free";
	font-weight: 900;
	font-size: 24px;
	line-height: 24px;
	top: calc(50% - 12px);
	color: inherit;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--bh-wishlist a:before {
	content: "\f004";
	font-weight: 400;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
	content: "\f064";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
	content: "\f007";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
	content: "\f290";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
	content: "\f2bb";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
	content: "\f09d";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
	content: "\f019";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
	content: "\f552";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
	content: "\f4b9";
}
.bh-myaccount-page-title {
	margin-bottom: 38px;
}
.woocommerce-MyAccount-content form > h3,
.woocommerce-account .addresses .title h3 {
	font-size: 24px;
	line-height: 1.25em;
	margin-bottom: 38px;
}
.woocommerce form .form-row label {
	line-height: 17px;
}
.woocommerce-MyAccount-navigation {
	max-width: 302px;
}
.woocommerce-MyAccount-content form.woocommerce-EditAccountForm .bh-pass-change {
	padding-top: 60px;
	max-width: 382px;
}

.woocommerce-MyAccount-content form label,
.woocommerce form .form-row label {
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #012438;
	line-height: 17px;
	margin-bottom: 14px;
}
.bh-rooms-wishlist,
.bh-room-orders {
	border-top: 1px solid #DDDEDE;
}
.bh-room-orders {
	margin-bottom: 40px;
}
.bh-room-orders + .woocommerce-pagination {
	display: flex;
	justify-content: space-between;
}
.bh-room-orders + .woocommerce-pagination .woocommerce-button--next {
	margin-left: auto;
}
.bh-rooms-wishlist .bh-room.loading {
	transition: opacity 0.4s ease-in;
	opacity: 0.5;
}
.remove-wishlist.active.active {
    color: #FA2A4F;
}
.woocommerce-account #customer_login {
	display: flex;
	justify-content: center;
	column-gap: 60px;
	row-gap: 60px;
}
.woocommerce-account #customer_login .bh-login-form,
.woocommerce-account #customer_login .bh-register-form,
.woocommerce-ResetPassword.lost_reset_password {
	border: 1px solid #dddede;
	padding: 40px;
	max-width: 580px;
	width: 48%;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}
.woocommerce-ResetPassword.lost_reset_password,
.woocommerce-account .woocommerce > .woocommerce-notices-wrapper {
	max-width: 580px;
	width: 100%;
	margin: 0 auto;
}
.woocommerce-ResetPassword.lost_reset_password .form-row-first,
.woocommerce-ResetPassword.lost_reset_password button.button {
	width: 100%;
}
.woocommerce-account #customer_login .bh-login-form h5,
.woocommerce-account #customer_login .bh-register-form h5,
.woocommerce-account .addresses .title h3 {
	padding-bottom: 24px;
	border-bottom: 1px solid #dddede;
	margin-bottom: 31px;
}
.woocommerce-account .addresses .title h3 {
	float: none;
}
.woocommerce-Addresses .woocommerce-Address {
	position: relative;
}
.woocommerce-account .addresses .title .edit {
	display: inline-block;
	float: none;
	position: absolute;
	right: 0;
	top: 85px;
	padding: 16px 28px;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0.12em;
	background-color: #002349;
	text-transform: uppercase;
}
.woocommerce-Address address {
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	color: #101010;
	line-height: 33px;
	max-width: 300px;
}
.woocommerce form.login, .woocommerce form.register {
	padding: 0;
	border: 0;
	margin: 0;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
	width: 100%;
	float: none !important;
}
.woocommerce-LostPassword.lost_password {
	display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #DA975A;
    letter-spacing: 0.03em;
    margin-bottom: 6px;
}
.bh-rounded-style .bh-checkout-cart-item .product-thumbnail .bh-product-image img,
.bh-rounded-style .bh-woocommerce-coupon,
.bh-rounded-style .woocommerce #content table.cart img,
.bh-rounded-style .woocommerce table.cart img,
.bh-rounded-style .woocommerce-page #content table.cart img,
.bh-rounded-style .woocommerce-page table.cart img,
.bh-rounded-style .woocommerce .cart .button,
.bh-rounded-style .woocommerce-notice--success.woocommerce-thankyou-order-received,
.bh-rounded-style .product-name .product-image img,
.bh-rounded-style .woocommerce .woocommerce-customer-details address {
  border-radius: 13px;
}
.bh-rounded-style #content .woocommerce input[type="text"], 
.bh-rounded-style #content .woocommerce input[type="date"], 
.bh-rounded-style #content .woocommerce input[type="password"], 
.bh-rounded-style #content .woocommerce input[type="email"], 
.bh-rounded-style #content .woocommerce input[type="url"], 
.bh-rounded-style #content .woocommerce input[type="tel"], 
.bh-rounded-style #content .woocommerce input[type="number"], 
.bh-rounded-style #content .woocommerce textarea, 
.bh-rounded-style #content .woocommerce select {
	border-radius: 32px;
}
.woocommerce span.onsale {
    height: 46px;
    width: 46px;
    line-height: 42px;
}

.woocommerce .product .related.products h2,
.woocommerce .product .wc-tab h2 {
	font-size: 35px;
	margin-bottom: 45px;
}
.woocommerce .product .wc-tab h2 {
	margin-bottom: 20px;
}
.woocommerce div.product .woocommerce-tabs .panel {
	margin-bottom: 0;
}
@media (max-width: 768px){
	.woocommerce-page #page-wrap.container {
		padding: 50px 8%;
	}
	.woocommerce-checkout .col2-set {
		display: block;
	}
	.woocommerce-checkout .col2-set .col-1,
	.woocommerce-checkout .col2-set .col-2 {
		width: 100%;
		padding-left: 0;
	}
	#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
		padding-left: 0;
	}
	.admin-bar .woocommerce #payment #place_order {
		top: 0;
	}
	.woocommerce-thankyou-order-received {
	    padding: 25px;
	}
	.woocommerce ul.order_details {
	    padding-left: 0;
	    margin-bottom: 50px;
	}
	.woocommerce ul.order_details li {
		float: none;
		padding: 0 0 15px 0;
		margin: 0 0 15px 0;
		border: 0;
		border-bottom: 1px solid #dddede;
	}
	.product-name .product-image, .product-name > img,
	.product-name .product-image, .product-name .product-thumbnail {
		float: none;
		margin: 0 0 20px 0;
		display: inline-block;
	}
	.woocommerce .woocommerce-customer-details address {
		min-width: unset;
		width: 100%;
	}
	.woocommerce table.shop_table.order_details th,
	.woocommerce table.shop_table.order_details td {
		font-size: 12px;
		letter-spacing: 0;
		font-weight: 500;
	}
	.woocommerce table.shop_table.order_details tfoot th, .woocommerce table.shop_table.order_details tfoot td {
		padding: 20px 0;
	}
	.woocommerce-account #customer_login .bh-login-form, .woocommerce-account #customer_login .bh-register-form, .woocommerce-ResetPassword.lost_reset_password {
		width: 100%;
		box-shadow: none;
	}
	.woocommerce .product .related.products h2 {
		font-size: 27px;
		margin-bottom: 30px;
	}
}
@media (max-width: 459px) {
	.woocommerce-MyAccount-navigation {
		max-width: 100%;
		margin-bottom: 50px;
	}
	.woocommerce-MyAccount-navigation ul {
	    display: list-item;
	    columns: 2;
	}
	.woocommerce-MyAccount-navigation ul li a {
	    display: inline-block;
	    padding: 5px 0 5px 25px;
	    font-size: 12px;
	}
	.woocommerce .product .related.products h2 {
		font-size: 24px;
	}
}
