#dl-menu .menu-item[class*="fa-"]:before {
    content: "";
    display: none;
}
.dl-menuwrapper {
    min-width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0%;
    bottom: 1px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}
#mobile-header #dl-menu {
    display: flex!important;
    justify-content: flex-end;
    align-items: center;
}
.dl-menuwrapper:first-child {
    margin-right: 100px
}
.dl-menuwrapper button.dl-trigger {
    border: none;
    background: none;
    color: #fff;
    height: 26px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    line-height: 1;
    background-color: transparent !important;
    padding: 0 0 0 5px;
    font-size: 28px;
    text-align: right;
    z-index: 10;
    margin-top: -2px;
    overflow: hidden;
}
.dl-menuwrapper button:after {
    content: "\f0c9";
    font-family: "Line Awesome Free";
    position: relative;
    font-weight: 900;
    transition: opacity 0.6s ease;
    opacity: 1;
    width: auto;
    display: inline-block;
}

.dl-menuwrapper button:before {
    content: "\f00d";
    font-family: "Line Awesome Free";
    position: relative;
    font-weight: 900;
    transform: translateY(-100px);
    transition: opacity 0.6s ease;
    opacity: 0;
    width: 0px;
    display: inline-block;
}
.dl-menuwrapper button.dl-active:before {
    transform: translateY(0);
    opacity: 1;
    width: auto;
}

.dl-menuwrapper button.dl-active:after {
    transform: translateY(-100px);
    opacity: 0;
    width: 0;
}

.dl-menuwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.dl-menuwrapper .dl-menu {
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
.dl-menuwrapper li {
    position: relative;
    margin: 0;
    padding: 0
}
.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0 20px;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    line-height: 36px;
    color: #001934;
    outline: none;
    text-align: left;
}
.dl-menuwrapper .dl-submenu {
    background-color: #fff;
}
.dl-menu > li,
.dl-submenu > li {
    overflow: hidden;
}
.dl-menu > li > a {
    transform: translateY(100%);
    transition: transform 1.1s cubic-bezier(.25,1,.5,1) 0.4s
}
.dl-submenu > li > a {
    opacity: 0;
    transition: opacity 1.1s cubic-bezier(.25,1,.5,1) 0.4s
}
.dl-menu.dl-menuopen > li > a,
.dl-menuopen.dl-subview .dl-submenu > li > a {
    transform: translateY(0);
    opacity: 1;
}
.dl-menuwrapper li.menu-item a {
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 1px solid #d9d9d9;
}
.dl-menuwrapper li.dl-parent > a {
    padding-top: 0;
}
.dl-menuwrapper li.dl-back > a {
    padding-left: 42px;
    margin: 0;
}

.dl-menuwrapper li.dl-back > a:hover {
    opacity: 0.9
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):before {
    position: absolute;
    top: 10px;
    font-family: 'Line Awesome Free';
    speak: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    font-weight: 900;
}

.dl-submenu li:nth-child(2) > a {
    border-top: 0
}

.dl-menuwrapper li.dl-back:after {
    left: 20px;
    content: "\f060";
    line-height: 36px;
}
.dl-menuwrapper li > a:before {
    right: 10px;
}

.dl-menuwrapper .dl-menu {
    margin: 0;
    position: absolute;
    top: 0%;
    right: 0px;
    width: 100%;
    opacity: 0;
    padding-top: 74px;
    pointer-events: none;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing:border-box;
    height: 100vh;
}
.dl-active + #nav-mobile {
    opacity: 1 !important;
    height: 100vh;
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.5s ease
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
}

.dl-menuwrapper li .dl-submenu {
    display: none
}

.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block
}

.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0;
    margin: 0;
    padding-top: 74px;
    padding-bottom: 15px;
    border:1px transparent solid;
    opacity: 1 !important;
    height: 100vh;
}

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s
}

.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease
}

.dl-menu.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease
}

.dl-menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease
}

@-webkit-keyframes "MenuAnimOut1" {
    0% {}
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes "MenuAnimOut2" {
    0% {}
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes "MenuAnimOut3" {
    0% {}
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes "MenuAnimOut4" {
    0% {}
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes "MenuAnimOut5" {
    0% {}
    100% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
}

@keyframes "MenuAnimOut1" {
    0% {}
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes "MenuAnimOut2" {
    0% {}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        //opacity: 0;
    }
}

@keyframes "MenuAnimOut3" {
    0% {}
    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes "MenuAnimOut4" {
    0% {}
    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes "MenuAnimOut5" {
    0% {}
    100% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease
}

.dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease
}

.dl-menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease
}

@-webkit-keyframes "MenuAnimIn1" {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes "MenuAnimIn2" {
    0% {
        -webkit-transform: translateX(-100%);
        //opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "MenuAnimIn3" {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "MenuAnimIn4" {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "MenuAnimIn5" {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes "MenuAnimIn1" {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes "MenuAnimIn2" {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes "MenuAnimIn3" {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes "MenuAnimIn4" {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes "MenuAnimIn5" {
    0% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease
}

@-webkit-keyframes "SubMenuAnimIn1" {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "SubMenuAnimIn2" {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "SubMenuAnimIn3" {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "SubMenuAnimIn4" {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "SubMenuAnimIn5" {
    0% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes "SubMenuAnimIn1" {
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes "SubMenuAnimIn2" {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes "SubMenuAnimIn3" {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes "SubMenuAnimIn4" {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes "SubMenuAnimIn5" {
    0% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease
}

@-webkit-keyframes "SubMenuAnimOut1" {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-webkit-keyframes "SubMenuAnimOut2" {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes "SubMenuAnimOut3" {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes "SubMenuAnimOut4" {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes "SubMenuAnimOut5" {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
}

@keyframes "SubMenuAnimOut1" {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes "SubMenuAnimOut2" {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes "SubMenuAnimOut3" {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes "SubMenuAnimOut4" {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes "SubMenuAnimOut5" {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
}

.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block
}

.no-js .dl-menuwrapper li.dl-back {
    display: none
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0, 0, 0, 0.1)
}

.no-js .dl-menuwrapper li > a:not(:only-child):before {
    content: ''
}