@media (max-width:1560px){
	.bh-room-meta i[class*="icon-"] {
	    width: 28px;
	    height: 28px;
	    margin-right: 10px;
	}
	.bh-room .bh-room-meta {
		column-gap: 30px;
		margin-bottom: 50px;
	}
	.classic .bh-room .bh-room-title {
	    font-size: 48px;
	    margin-bottom: 25px;
	}
	.wpcf7 .wpcf7-form {
		justify-content: center;
	}
	.bh-room .bh-room-button {
		padding: 15px 30px;
	}
}
@media (min-width: 999px) and (max-width: 1400px){
	#header .menu > li + li {
	    padding-left: 15px;
	}
	header .languages-block,
	header .user-link {
		padding-left: 20px;
	}
	header .user-link + .user-link {
	    padding-left: 7px;
	}
	.classic .bh-room {
	    align-items: initial;
	}
	.bh-room .bh-room-img a {
		min-height: 100%;
	}
	.bh-room .bh-room-img a img {
		width: 100%;
	}
}
@media (max-width: 999px){
	.span1,
	.span2,
	.span3,
	.span4,
	.span5,
	.span6,
	.span7,
	.span8,
	.span9,
	.span10,
	.span11 {
		ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	    max-width: 50%;
	}
	.bh-parallax {
		transform: translateY(0) !important;
	}
	#header {
		display: none;
		visibility: hidden;
	}
	#mobile-header {
		display: block;
		visibility: visible;
	}
	#site-content {
		padding-left: 8%;
		padding-right: 8%;
	}
	.error-title {
	    font-size: 90px;
	    margin-left: -4px;
	}
	.error-subtitle {
	    font-size: 23px;
	}
	#footer.footer-default .row {
		row-gap:30px;
	}
	#footer.footer-default .row div[class*="span"] {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.single-post #site-content {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
	.bh-author-info {
	    display: block;
	    padding: 50px 0 55px;
	    text-align: center;
	}
	#bh-single-room-host .bh-author-info {
		display: flex;
		text-align: left;
	}
	.bh-host-contacts-list {
	    flex-direction: column;
	    row-gap: 5px;
	}
	.bh-author-avatar {
	    margin-right: 0;
	    margin-bottom: 25px;
	}
	#bh-single-room-host .bh-author-avatar {
		margin-bottom: 0;
	}
	.bh-post-tags {
	    font-size: 11px;
	    padding: 25px 0;
	}
	.bh-post-tags .bh-tags-title {
	    padding-right: 30px;
	}
	.bh-post-tags .bh-tags-title:after {
		right: 7px;
		width: 16px;
	}
	.bh-post-tags a {
		padding-left: 0;
	}
	.bh-post-tags a:not(:last-child):after {
		content: ", ";
	}
	.single-post .sharebox {
	    padding: 10px 10px 30px 25px;
	    margin-bottom: 45px;
	    flex-wrap: wrap;
	}
	.sharebox .social-icons {
	    flex-wrap: wrap;
	}
	.sharebox li + li {
		padding-left: 0;
	}
	.sharebox li {
		padding-right: 15px;
	}
	.sharebox li a span {
	    padding-left: 22px;
	}
	.sharebox li:nth-child(1) a, .sharebox li:hover a {
	    max-width: 48px;
	}
	#related-posts {
	    padding-top: 25px;
	}
	#related-posts .related-posts-item + .related-posts-item {
		margin-top: 20px;
	}
	#related-posts .related-posts-item {
		padding-left: 0;
		padding-right: 0;
	}
	#related-posts > h2 {
	    font-size: 24px;
	    margin-bottom: 30px;
	}
	#comments #respond form {
	    padding: 45px 30px;
	    column-gap: 20px;
    	row-gap: 20px;
	}
	#commentform > input {
	    width: 100%;
	}
	.commentlist + #respond, .navigation + #respond {
	    margin-top: 55px;
	}
	#comments {
	    padding: 18% 8% 20%;
	}
	#comments-title {
	    font-size: 24px;
	    margin-bottom: 45px;
	}
	#reply-title, #reply-title small {
	    font-size: 24px;
	}
	.comment-body {
	    display: block;
	}
	.comment-body .bh-author-avatar {
	    margin-right: 0;
	}
	.comment-body .bh-post-meta {
	    display: block;
	}
	#mobile-header .logo {
	    flex-basis: 85%;
	    max-width: 85%;
	}
	.single-bh-room:not(.bh-room-layout-light) .bh-room-img .title {
		padding: 0 0 50px;
	}
	.single-bh-room:not(.bh-room-layout-light) .bh-room-img .title h1,
	.single-bh-room.bh-room-layout-light .title h1 {
		font-size: 40px;
	}
	.single-bh-room:not(.bh-room-layout-light) .bh-room-img .title h1 {
		margin-bottom: 0;
	}
	.single-bh-room .bh-room-img .title .subtitle {
		font-size: 16px;
	}
	.bh-room-meta {
		column-gap: 20px;
	}
	.bh-room-meta i[class*="icon-"] {
	    display: block;
	    width: 32px;
	    height: 32px;
	    margin-right: 18px;
	}
	.single-bh-room.bh-room-layout-light #site-content {
	    padding-top: 75px;
	}
	.single-bh-room.bh-room-layout-light .title .bh-room-number {
	    margin-bottom: 28px;
	}
	.classic .bh-room {
	    display: block;
	}
	.classic .bh-room .bh-room-img {
		width: 100%;
	}
	.classic .bh-room .bh-room-content,
	.classic.classic_odd_even div.span12:nth-child(2n) .bh-room .bh-room-content {
		padding: 30px 0 0 0;
	}
	.bh-room .bh-room-title {
		font-size: 35px;
		margin-bottom: 30px;
	}
	.bh-room .bh-room-number {
		margin-bottom: 20px;
	}
	.bh-room .bh-room-description {
		font-size: 16px;
		margin-bottom: 37px;
	}
	.bh-room-meta {
		margin-bottom: 45px;
	}
	.bh-room .bh-room-button {
		font-size: 19px;
	}
	.bh-rooms-block {
	    row-gap: 70px;
	}
	.elementor-image-gallery .gallery.gallery-columns-8 .gallery-item {
		width: 50% !important;
		max-width: 50% !important;
	}
	.elementor-image-gallery {
		overflow: hidden;
	}
	.bh-page-title h1 {
	    font-size: 40px;
	}
	.blog .bh-page-title, .archive .bh-page-title {
	    padding-top: 120px !important;
	    padding-bottom: 80px !important;
	}
	body.blog #site-content, body.archive #site-content {
	    padding-top: 50px;
	    padding-bottom: 60px;
	}
	.bh-title-wishlist-block .bh-room-title, .bh-room.order .bh-room-title {
	    font-size: 20px;
	    line-height: 1.5em;
	    margin-bottom: 0;
	}
	#bh-latest-posts {
	    grid-template-columns: repeat(2,1fr);
	}
	.half_overlay .bh-room {
		flex-wrap:wrap;
	}
	.half_overlay .bh-room .bh-room-img {
	    width: 100%;
	    padding-top: 0;
	    order:0;
	    mask-image: linear-gradient(to top, rgba(0, 25, 52, 0) 0%, rgba(0, 25, 52, 1.0) 100%);
	    -webkit-mask-image: linear-gradient(to top, rgba(0, 25, 52, 0) 0%, rgba(0, 25, 52, 1.0) 100%);
	}
	.half_overlay .span12:nth-child(2n) .bh-room .bh-room-img {
	    mask-image: linear-gradient(to top, rgba(0, 25, 52, 0) 0%, rgba(0, 25, 52, 1.0) 100%);
	    -webkit-mask-image: linear-gradient(to top, rgba(0, 25, 52, 0) 0%, rgba(0, 25, 52, 1.0) 100%);
	}
	.half_overlay .bh-room .bh-room-content {
	    width: 100%;
	    margin-right: 0% !important;
	    margin-top: -15%;
	    margin-left: 0 !important;
	    padding: 0 30px;
	    order:1;
	}
	.list .bh-room .bh-room-content {
		padding: 0 35px 30px;
	}
	.list .bh-room .bh-room-content .bh-room-title {
		width:100%;
		font-size: 35px;
	}
	.list .bh-room .bh-room-content .bh-room-button {
		font-size: 11px;
		padding: 10px 24px;
		width: auto;
	}
	.list .bh-room .bh-room-content .bh-room-title .bh-room-subtitle {
	    font-size: 17px;
	}
	.bh-amenities {
		columns:unset;
	}
	.bh-room-featured-carousel {
		width: 100vw;
		margin-top:-40px;
	}
	.bh-room-fc-wrap div img {
		min-width: 100vw;
		max-height:350px;
	}
	.bh-room-fc-wrap .owl-nav > div {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 30px;
		top: calc(50% - 20px);
	}
	.single-bh-room .bh-content + .bh-reservation {
		margin-bottom: 45px;
	}
	.single-bh-room .bh-content {
		width: 100%;
		max-width: 100%;
		padding-right: 0px;
		order: 2;
	}
	.single-room-meta-block {
		display: block;
	}
	.single-room-meta-block .single-room-meta {
		flex-wrap: wrap;
	}
	.single-room-meta-block .single-room-meta > div {
		display: inline-block;
	}
	.single-room-meta-block .single-room-meta .bh-room-city {
		padding-left: 0;
		margin-left: 0;
		line-height: 1.2em;
		width: 100%;
	}
	.single-room-meta-block .single-room-meta .bh-room-city a {
		display: block;
	}
	.single-room-share-save a {
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    margin-left: 3px;
	}
	.single-room-meta-block {
		padding-right: 60px;
		position: relative;
	}
	.single-room-share-block .sharebox-room {
		right: 33px;
		background: #fff;
	}
	.single-room-share-save {
	    position: absolute;
	    top: 0;
	    right: 0;
	}
	.single-room-meta-block .single-room-meta .bh-room-city:before {
		display: none;
	}
	.single-bh-room .bh-reservation {
		width: 100%;
		max-width: 100%;
	}
	.single #site-content {
		padding-top: 40px;
		padding-bottom: 0px;
	}
	.bh-room-gallery-block,
	.bh-single-room-amenities,
	.bh-single-room-calendar,
	.bh-room-rules-block,
	.bh-single-room-location,
	.bh-single-room-reviews:not(:empty) {
		padding-top: 45px;
		margin-bottom: 50px;
	}
	form#bh-room-reservation-search-form {
		display: block;
	}
	#bh-room-reservation-search-form .bh-room-location,
	#bh-room-reservation-search-form .check-in-wrap, #bh-room-reservation-search-form .check-out-wrap,
	#bh-room-reservation-search-form .bh-block-guests .guests-wrap, #bh-room-reservation-search-form .bh-block-rooms .rooms-count-wrap {
		padding: 5px 20px;
		width: 100%;
	}
	#bh-room-reservation-search-form .bh-field:first-child .check-in-wrap {
		padding-left: 20px;
	}
	#bh-room-reservation-search-form button.bh-search-button {
		margin: 0px;
		width: 100%;
		border: 0;
	}
	#bh-room-reservation-search-form .bh-block-guests:nth-child(2) + .bh-field {
		margin-left: 0;
	}
	#bh-room-reservation-search-form input[type="text"] {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
		pointer-events: none;
	}
	form#bh-room-reservation-search-form > .bh-field {
		width: 100%;
		border-bottom: 1px solid #DDDEDE;
		margin-top: 0;
		margin-right: 0;
		flex-shrink: 0;
		flex-wrap: wrap;
	}
	#bh-room-reservation-search-form .bh-check-in-out:first-child,
	#bh-room-reservation-search-form .bh-check-in-out:first-child + .bh-field,
	#bh-room-reservation-search-form .bh-block-guests:nth-child(2) + .bh-field {
		width: 100%;
	}
	#bh-room-reservation-search-form .bh-block-guests:nth-child(2) {
	    margin-left: 0;
	}
	.datepicker__info--selected-label {
	    font-size: 16px !important;
	}
	form#bh-room-reservation-search-form .datepicker {
		box-shadow: 0px 19px 15px 4px rgb(0 0 0 / 15%);
	}
	.bh-rounded-style #bh-room-reservation-search-form .datepicker {
		border-radius: 0 0 10px 10px;
	}

	#bh-room-reservation-search-form .check-out-wrap {
		border-left: 1px solid #DDDEDE;
	}
	#bh-room-reservation-search-form .check-in-wrap:before,
	#bh-room-reservation-search-form .check-out-wrap:before,
	#bh-room-reservation-search-form .bh-block-guests .guests-wrap:before,
	#bh-room-reservation-search-form .bh-block-rooms .rooms-count-wrap:before {
		opacity: 0;
	}
	#bh-search-date-range .datepicker, 
	#bh-room-reservation-search-form .bh-room-location .pac-container {
	    top: 100% !important;
	}
	#bh-room-reservation-search-form .bh-dropdown-persons, 
	#bh-room-reservation-search-form .bh-dropdown-rooms {
		top: calc(100% - 64px);
	}
	#bh-room-reservation-search-form .bh-room-location {
		z-index: 7;
	}
	#bh-room-reservation-search-form .bh-room-location .pac-item-query {
	    font-size: 12px;
	}
	#bh-room-reservation-search-form .bh-room-location .pac-item {
    	padding: 8px 20px 8px 50px;
	}
	#bh-room-reservation-search-form .bh-room-location .pac-icon.pac-icon-marker {
	    left: 17px;
	    top: 8px;
	}
	#bh-room-reservation-search-form .bh-dropdown-persons,
	#bh-room-reservation-search-form .bh-dropdown-rooms {
		width: 100%;
		padding: 20px;
	}
	#bh-room-reservation-search-form .bh-field-active {
	    box-shadow: none;
	}
	form .datepicker {
		width: calc(100vw - 20px);
		left: -1px;
	}
	form .datepicker__inner {
		padding: 20px;
	}
	form .datepicker__topbar {
		margin-bottom: 15px;
		padding-bottom: 15px;
		margin-left: 0;
		margin-right: 0;
	}
	form .datepicker__close-button {
		display: none;
	}
	#bh-date-range .datepicker {
	    right: 0px;
	    left: auto;
	    top: 46%;
	}
	#bh-room-reservation {
	    border: 0px solid #DDDEDE;
	    padding: 27px 20px 30px;
	}
	.bh-rounded-style #bh-room-reservation-search-form {
		border-radius: 10px;
	}
	#bh-room-reservation-search-form .check-out-wrap {
		margin-right: 0;
	}
	.bh-rounded-style #bh-room-reservation-search-form .bh-room-location, .bh-rounded-style #bh-room-reservation-search-form .bh-field:first-child .check-in-wrap {
	    border-radius: 10px 0 0 0px;
	}
	.bh-rounded-style #bh-room-reservation-search-form .bh-room-location,
	.bh-rounded-style #bh-room-reservation-search-form .bh-check-in-out:first-child .check-out-wrap {
		border-radius: 10px 10px 0 0;
	}
	.bh-rounded-style #bh-room-reservation-search-form .bh-block-guests,
	.bh-rounded-style #bh-room-reservation-search-form .bh-block-guests .guests-wrap, .bh-rounded-style #bh-room-reservation-search-form .bh-block-rooms .rooms-count-wrap {
		border-radius: 0 0 10px 10px;
	}
	.bh-rounded-style #bh-room-reservation-search-form .bh-check-in-out,
	.bh-rounded-style #bh-room-reservation-search-form .check-in-wrap,
	.bh-rounded-style #bh-room-reservation-search-form .check-out-wrap {
		border-radius: 0;
	}
	.bh-rounded-style #bh-room-reservation-search-form .check-in-wrap, .bh-rounded-style #bh-room-reservation-search-form .check-out-wrap, .bh-rounded-style #bh-room-reservation-search-form .bh-room-location, .bh-rounded-style #bh-room-reservation-search-form .bh-block-guests .guests-wrap, .bh-rounded-style #bh-room-reservation-search-form .bh-block-rooms .rooms-count-wrap, .bh-rounded-style #bh-room-reservation-search-form .bh-field:first-child .check-in-wrap {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	#bh-room-reservation-search-form .check-out-wrap:after {
		display: none;
	}
	.bh-rounded-style #bh-room-reservation-search-form .bh-search-button {
		border-radius: 0 0 10px 10px;
	}
	#bh-room-reservation-search-form .datepicker {
	    width: 100%;
	    left: 0;
	}
	.search .bh-content-area {
	    width: 100%;
	    padding-right: 0;
	}
	.bh-room-search-item {
		flex-wrap: wrap;
	}
	.bh-room-search-item .bh-room-img {
		margin-bottom: 25px;
	}
	.bh-room-search-item .bh-room-img,
	.bh-room-search-item .bh-room-img + .bh-room-content,
	.search .bh-filter-block {
		width: 100%;
		max-width: 100%;
	}
	.bh-room-search-item .bh-room-img {
		margin-bottom: 30px !important;
	}
	.bh-room-search-item .bh-room-img + .bh-room-content {
		row-gap: 20px;
	}
	.bh-room-search-item .single-room-share-save {
		position: relative;
	}
	#bh-room-popup-gallery .bh-gallery-rows-wrap > .row {
		flex-wrap: wrap;
	}
	#bh-room-popup-gallery .bh-gallery-block-title,
	#bh-room-popup-gallery .bh-gallery-block-images {
		width: 100%;
	}
	#bh-room-popup-gallery .bh-gallery-rows-wrap .row:not(:last-child) {
	    padding-bottom: 70px;
	}
	.bh-gallery-block-images.bh-gallery-one-two-column div {
	    max-width: calc(50% - 5px);
	    width: calc(50% - 5px);
	}
	.bh-gallery-block-images.bh-gallery-one-two-column {
	    column-gap: 10px;
	    row-gap: 10px;
	}
	.bh-gallery-block-images.bh-gallery-two-column {
		column-gap: 10px;
	}
	.bh-room-featured-gallery {
	    grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
	    grid-gap: 5px;
	    grid-auto-rows: minmax(178px, 180px);
	}
	.bh-rounded-style #bh-room-reservation-search-form .bh-room-location .pac-container,
	.bh-rounded-style #bh-room-reservation-search-form .bh-dropdown-persons,
	.bh-rounded-style #bh-room-reservation-search-form .bh-dropdown-rooms {
		border-radius: 0 0 10px 10px;
	}
	.single.single-post .title h1 {
	    font-size: 27px;
	}
	.sharebox li a {
	    max-width: 48px;
	    height: 48px;
	    line-height: 48px;
	    padding: 0 16px;
	}
	.bh-offer-block--simple .bh-offer-content,
	.bh-offer-block--link {
	    padding: 0 0 0 50px;
	}
	.bh-offer-block--card + .bh-offer-block--card {
	    padding: 0 0 0 50px;
	}
	.style2 .bh-slide-content {
	    margin: 50px 0 0 -120px;
	}
	.style2 .bh-slide-content-wrap {
	    padding: 30px 35px;
	}
	#bh-search-form-block {
	    max-width: 100%;
	}
	.bh-room .bh-room-img a img.bh-parallax {
		left: 0;

	}
	#footer.footer-default {
	    padding-bottom: 40px;
	    padding-top: 50px;
	}
	#footer.footer-default .row div[class*="span"]:not(:last-child) {
	    padding-right: 90px;
	    padding-bottom: 40px;
	    max-width: 100%;
	    flex-basis: 100%;
	}
	.copyright-section {
		padding-left: 25px;
		padding-right: 25px;
	}
	.wpcf7 .wpcf7-form {
		flex-wrap: wrap;
	    justify-content: center;
	}
	.bh-card__title {
	    font-size: 18px;
	    padding: 35px 30px;
	}
	.bh-cookie-bar {
		bottom: 30px;
	}
	.bh-cookie-bar__wrapper {
		padding: 20px 25px;
	}
	.bh-cookie-bar__text {
		font-size: 14px;
		line-height: 26px;
	}
	.button.bh-cookie-bar__button {
		padding: 18px 22px;
		font-size: 11px;
	}
	.bh-slider-bullets.horizontal {
		left: 50% !important;
		transform: translate(-50%, -50px) !important;
	}
}
@media (max-width: 469px){
	.span1,
	.span2,
	.span3,
	.span4,
	.span5,
	.span6,
	.span7,
	.span8,
	.span9,
	.span10,
	.span11,
	.span12 {
		ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	    max-width: 100%;
	}
	.row-fluid {
		margin-left: 0;
		margin-right: 0;
	}
	.row-fluid .span12 {
		padding-left: 0;
		padding-right: 0;
	}
	.single-post #site-content {
	    padding-top: 50px;
	    padding-bottom: 75px;
	}
	.single.single-post .title {
	    margin-bottom: 50px;
	}
	.single-post .title h1 {
	    font-size: 35px;
	}
	.single-bh-room:not(.bh-room-layout-light) .bh-room-img .title h1,
	.single-bh-room.bh-room-layout-light .title h1 {
	    font-size: 27px;
	}
	.bh-rooms-block:not(.cards) .bh-room-meta > div + div {
		margin-left: 0;
	}
	.bh-rooms-block:not(.cards) .bh-room-meta > div {
		margin-right: 20px;
	}
	.bh-room .bh-room-button {
	    font-size: 12px;
	    line-height: 2.85em;
	}
	.elementor-image-gallery .gallery.gallery-columns-8 .gallery-item {
		width: 50% !important;
		max-width: 50% !important;
	}
	#bh-latest-posts {
	    grid-template-columns: repeat(1,1fr);
	}
	.half_overlay .bh-room .bh-room-content {
	    padding: 0 10px;
	}
	.list .bh-room .bh-room-content {
		row-gap:15px;
	}
	.list .bh-room .bh-room-content .bh-room-title {
	    font-size: 21px;
	}
	.list .bh-room .bh-room-content {
    	padding: 0 20px 20px;
	}
	.list .bh-room .bh-room-content .bh-room-button {
	    font-size: 10px;
	    padding: 5px 20px;
	    margin-left: 0;
	}
	.list .bh-room .bh-room-content .bh-room-title .bh-room-subtitle {
	    font-size: 13px;
	}
	#bh-room-calendar {
		max-width: 355px;
		margin-right: auto;
		margin-left: auto;
	}
	#bh-room-calendar .datepicker__month-day {
		padding: 18px 12px;
	}
	.bh-rounded-style #bh-room-reservation-search-form .datepicker .datepicker__month-day {
		padding: 15px 12px;
	}
	.bh-slider-item {
		flex-wrap: wrap;
	}
	.bh-slide-img,
	.bh-slide-content {
	    width: 100% !important;
	}
	.bh-slide-content {
		margin: 0 !important;
		left: 0;
	}
	.bh-video-description {
	    font-size: 30px;
	}
	.bh-offer-block--simple {
		flex-wrap: wrap;
	}
	.bh-offer-block--simple > div,
	.bh-offer-block--card,
	.bh-offer-block--link {
		width: 100%;
	}
	.style2 .bh-slide-content {
		left: 0;
		margin: 0 !important;
	}
	.bh-offer-block--card + .bh-offer-block--card, 
	.bh-offer-block--link {
	    padding: 0 0 0 0px;
	}
	.bh-offer-block--simple .bh-offer-content {
	    padding: 25px 0 15px 0px;
	}
	#footer.footer-default .row div[class*="span"]:first-child {
	    padding-right: 35px;
	}
	#footer.footer-default .row div[class*="span"] {
	    padding-right: 35px;
	    padding-left: 35px;
	}
	.bh-cookie-bar {
		bottom: 10px;
	}
	.bh-cookie-bar__wrapper {
		flex-wrap: wrap;
		row-gap: 25px;
	}
	.bh-cookie-bar__text {
		width: 100%;
	}
	.button.bh-cookie-bar__button {
		margin-left: 0;
	}
	.bh-room-search-item .bh-bottom-meta .single-room-meta {
		flex-wrap: wrap;
		row-gap: 8px;
	}
	.bh-room-search-item .bh-bottom-meta .single-room-meta .bh-room-reviews {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	.bh-room-search-item .bh-bottom-meta .single-room-meta .bh-room-reviews:before {
		display: none;
	}
	.bh-bottom-meta .bh-price-nights {
		min-width: max-content;
	}
	.bh-room-search-item.bh-room-search-item-big .bh-bottom-meta {
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 20px;
	}
	.bh-room-search-item.bh-room-search-item-big .bh-bottom-meta .bh-price-nights {
		text-align: left;
    	margin-left: 0;
    	padding-left: 0;
    	order: 0;
    }
    .bh-room-search-item.bh-room-search-item-big .bh-bottom-meta .bh-room-button {
    	order: 1;
    }
    .bh-video-description-wrap {
    	padding: 0 40px;
    }
    #bh-room-reservation-search-form .bh-dropdown-persons {
	    top: 100%;
	}
	#bh-room-reservation-search-form .bh-dropdown-rooms {
	    top: calc(100% - 60px);
	}
	.bh-check-in-out #bh-search-date-range,
	#bh-room-reservation-search-form input[type="text"],
	#bh-room-reservation-search-form label {
		text-align: center;
	}
	#bh-room-reservation-search-form label {
	    color: #8c8c8c;
	}
	#bh-room-reservation-search-form input[type="text"] {
		color: #222222;
		font-weight: 400;
	}
	#bh-room-reservation-search-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #222222;
	  opacity: 1; /* Firefox */
	}
	#bh-room-reservation-search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: #222222;
	}
	#bh-room-reservation-search-form input::-ms-input-placeholder { /* Microsoft Edge */
	  color: #222222;
	}
	.search #site-content {
	    padding-top: 8%;
	}
	body.blog #site-content, body.archive #site-content {
		padding-left: 8%;
		padding-right: 8%;
	}
	.bh-cursor.bh-slider-cursor {
		display: none !important;
	}
	.bh-video-preview {
	    clip-path: none !important;
	}
	.bh-offer-block--simple .bh-offer-title {
	    margin-bottom: 26px;
	    font-size: 20px;
	}
	.bh-offer-block--link .bh-offer-details {
		justify-content: center;
		float: none;
		background-image: none;
	}
	.bh-room .bh-room-price-description {
		font-family: inherit;
	}
	.bh-single-room-subtitle-block .single-room-meta {
	    font-size: 13px;
	    flex-wrap: wrap;
	}
	#bh-room-reservation-form #bh-date-range .datepicker {
	    right: 0px;
	    left: 0%;
	    top: 0;
	    width: calc(100vw - 19%);
	}
	#bh-room-reservation-form .bh-dropdown-persons, #bh-room-reservation-form .bh-dropdown-rooms {
	    min-width: 100%;
	}
	.bh-quantity .bh-quantity-btn {
	    height: 36px;
	    width: 36px;
	    line-height: 30px;
	    font-size: 16px;
	}
	.single-room-meta > div + div {
	    margin-left: 9px;
	    padding-left: 9px;
	}
	#bh-latest-posts {
	    grid-template-columns: repeat(1,1fr);
	}
	.sharebox li a {
	    max-width: 36px;
	    height: 36px;
	    line-height: 36px;
	    padding: 0 10px;
	}
	.sharebox li:nth-child(1) a, .sharebox li:hover a {
	    max-width: 36px;
	}
} 