<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Brooklyn Heights	</title>
	<atom:link href="https://bh.artstudioworks.net/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://bh.artstudioworks.net</link>
	<description>Perfect tool to book your stay</description>
	<lastBuildDate>Wed, 18 May 2022 10:01:07 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>
		Comment on Room with Balcony by Alex		</title>
		<link>https://bh.artstudioworks.net/room/room-with-balcony/comment-page-1/#comment-182</link>

		<dc:creator><![CDATA[Alex]]></dc:creator>
		<pubDate>Wed, 18 May 2022 09:35:54 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1259#comment-182</guid>

					<description><![CDATA[The house is amazing! We would come back in a heartbeat]]></description>
			<content:encoded><![CDATA[<p>The house is amazing! We would come back in a heartbeat</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Room with Balcony by Rima		</title>
		<link>https://bh.artstudioworks.net/room/room-with-balcony/comment-page-1/#comment-183</link>

		<dc:creator><![CDATA[Rima]]></dc:creator>
		<pubDate>Wed, 18 May 2022 09:35:54 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1259#comment-183</guid>

					<description><![CDATA[We loved our stay and look forward to sharing with friends and coming back again.]]></description>
			<content:encoded><![CDATA[<p>We loved our stay and look forward to sharing with friends and coming back again.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Room with Balcony by Maria		</title>
		<link>https://bh.artstudioworks.net/room/room-with-balcony/comment-page-1/#comment-184</link>

		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Wed, 18 May 2022 09:35:54 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1259#comment-184</guid>

					<description><![CDATA[Beautiful place, very clean, beautiful beach near by.]]></description>
			<content:encoded><![CDATA[<p>Beautiful place, very clean, beautiful beach near by.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Room with Balcony by Stephen		</title>
		<link>https://bh.artstudioworks.net/room/room-with-balcony/comment-page-1/#comment-185</link>

		<dc:creator><![CDATA[Stephen]]></dc:creator>
		<pubDate>Wed, 18 May 2022 09:35:54 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1259#comment-185</guid>

					<description><![CDATA[“Location was fantastic, it&#039;s very clean. We felt very safe.”]]></description>
			<content:encoded><![CDATA[<p>“Location was fantastic, it&#8217;s very clean. We felt very safe.”</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Room with Balcony by Federico		</title>
		<link>https://bh.artstudioworks.net/room/room-with-balcony/comment-page-1/#comment-186</link>

		<dc:creator><![CDATA[Federico]]></dc:creator>
		<pubDate>Wed, 18 May 2022 09:35:54 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1259#comment-186</guid>

					<description><![CDATA[“The staff was very helpful, cheerful and helpful, very nice details and forniture in the appartament. Loved it”]]></description>
			<content:encoded><![CDATA[<p>“The staff was very helpful, cheerful and helpful, very nice details and forniture in the appartament. Loved it”</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Room with Balcony by Olivia		</title>
		<link>https://bh.artstudioworks.net/room/room-with-balcony/comment-page-1/#comment-187</link>

		<dc:creator><![CDATA[Olivia]]></dc:creator>
		<pubDate>Wed, 18 May 2022 09:35:54 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1259#comment-187</guid>

					<description><![CDATA[“Very nice and helpful staff. clean, good breakfast”]]></description>
			<content:encoded><![CDATA[<p>“Very nice and helpful staff. clean, good breakfast”</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Elegant and Roomy by Alex		</title>
		<link>https://bh.artstudioworks.net/room/elegant-and-roomy/comment-page-1/#comment-176</link>

		<dc:creator><![CDATA[Alex]]></dc:creator>
		<pubDate>Wed, 18 May 2022 08:58:55 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1255#comment-176</guid>

					<description><![CDATA[The house is amazing! We would come back in a heartbeat]]></description>
			<content:encoded><![CDATA[<p>The house is amazing! We would come back in a heartbeat</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Elegant and Roomy by Rima		</title>
		<link>https://bh.artstudioworks.net/room/elegant-and-roomy/comment-page-1/#comment-177</link>

		<dc:creator><![CDATA[Rima]]></dc:creator>
		<pubDate>Wed, 18 May 2022 08:58:55 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1255#comment-177</guid>

					<description><![CDATA[We loved our stay and look forward to sharing with friends and coming back again.]]></description>
			<content:encoded><![CDATA[<p>We loved our stay and look forward to sharing with friends and coming back again.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Elegant and Roomy by Maria		</title>
		<link>https://bh.artstudioworks.net/room/elegant-and-roomy/comment-page-1/#comment-178</link>

		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Wed, 18 May 2022 08:58:55 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1255#comment-178</guid>

					<description><![CDATA[Beautiful place, very clean, beautiful beach near by.]]></description>
			<content:encoded><![CDATA[<p>Beautiful place, very clean, beautiful beach near by.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Elegant and Roomy by Stephen		</title>
		<link>https://bh.artstudioworks.net/room/elegant-and-roomy/comment-page-1/#comment-179</link>

		<dc:creator><![CDATA[Stephen]]></dc:creator>
		<pubDate>Wed, 18 May 2022 08:58:55 +0000</pubDate>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?post_type=bh-room&#038;p=1255#comment-179</guid>

					<description><![CDATA[“Location was fantastic, it&#039;s very clean. We felt very safe.”]]></description>
			<content:encoded><![CDATA[<p>“Location was fantastic, it&#8217;s very clean. We felt very safe.”</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
