* {
    padding: 0;
    margin: 0;
}


/* body {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
} */

h2 {
    text-transform: uppercase;
    color: skyblue;
}

.images {
    display: inline-block !important;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
}

[type='submit'] {
    display: block;
}

.error {
    color: red;
}

select#provinces,
select#districts,
select#wards,
select#inlineFormCustomSelectPref {
    height: 32px;
}

.img-responsive.tfo-image {
    height: 277px !important;
    object-fit: cover !important;
    padding: 10px !important;
}

label#images\[\]-error {
    z-index: 99 !important;
}


/* motel details */

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.gallery-image {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.image-head-wrapper {
    /* background-repeat: round; */
    background: center;
}

.tfo-pd0 {
    padding: 0;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

.attribute,
.description-details {
    padding: 4px 0px 10px 10px;
}

.title {
    color: red;
    text-transform: uppercase;
}
.carousel-indicators {
    display: none;
}
button.btn.subscribe-button {
    display: none;
}