<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Brooklyn Heights</title>
	<atom:link href="https://bh.artstudioworks.net/feed/" rel="self" type="application/rss+xml" />
	<link>https://bh.artstudioworks.net</link>
	<description>Perfect tool to book your stay</description>
	<lastBuildDate>Thu, 25 Nov 2021 17:15:26 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>Create you own romantic weekend</title>
		<link>https://bh.artstudioworks.net/create-you-own-romantic-weekend/</link>
					<comments>https://bh.artstudioworks.net/create-you-own-romantic-weekend/#respond</comments>
		
		<dc:creator><![CDATA[Debia]]></dc:creator>
		<pubDate>Thu, 25 Nov 2021 17:06:46 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Booking]]></category>
		<category><![CDATA[Hotel]]></category>
		<category><![CDATA[Single room]]></category>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?p=942</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="942" class="elementor elementor-942">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-16341928 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="16341928" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71526e71" data-id="71526e71" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6add58d elementor-widget elementor-widget-text-editor" data-id="6add58d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>You&#8217;ve gotta dance like there&#8217;s nobody watching, love like you&#8217;ll never be hurt, sing like there&#8217;s nobody listening, and live like it&#8217;s heaven on earth. Twenty years from now you will be more disappointed by the things that you didn&#8217;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</p><p>When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too. One is loved because one is loved. No reason is needed for loving.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6482f38c elementor-widget elementor-widget-heading" data-id="6482f38c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Our Story</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-4d7a5b34 elementor-widget elementor-widget-text-editor" data-id="4d7a5b34" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>The simple things are also the most extraordinary things, and only the wise can see them. Everyone seems to have a clear idea of how other people should lead their lives, but none about his or her own. Remember that wherever your heart is, there you will find your treasure. No matter what he does, every person on earth plays a central role in the history of the world. And normally he doesn&#8217;t know it.</p>					</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-245f5982 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="245f5982" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-71752ccf" data-id="71752ccf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-35af2687 elementor-widget elementor-widget-image" data-id="35af2687" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="350" height="289" src="https://bh.artstudioworks.net/wp-content/uploads/2021/11/post_img.jpg" class="attachment-large size-large" alt="" loading="lazy" />											<figcaption class="widget-image-caption wp-caption-text">Your eyes show the strength of your soul.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d9dff67" data-id="6d9dff67" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-45751dfb elementor-widget elementor-widget-text-editor" data-id="45751dfb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tell your heart that the fear of suffering is worse than the suffering itself. And that no heart has ever suffered when it goes in search of its dreams, because every second of the search is a second&#8217;s encounter with God and with eternity. </p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-38f98a6a elementor-widget elementor-widget-text-editor" data-id="38f98a6a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="letter-spacing: -0.1px;">We are travelers on a cosmic journey, star-dust,swirling and dancing in the eddies and whirlpools of infinity. Life is eternal. We have stopped for a moment to encounter each other, to meet, to love, to share. This is a </span></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-278776e3 elementor-widget elementor-widget-text-editor" data-id="278776e3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>precious moment. It is a little parenthesis in eternity. I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4eeb5c6a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4eeb5c6a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3cfe082a" data-id="3cfe082a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6c7e689e elementor-widget elementor-widget-heading" data-id="6c7e689e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">So, I love you because the entire universe conspired to help me find you.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-ee195c7 elementor-widget elementor-widget-text-editor" data-id="ee195c7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>― Paulo Coelho, The Alchemist</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5d60dbe8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d60dbe8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61833c8e" data-id="61833c8e" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-260bf7c0 elementor-widget elementor-widget-text-editor" data-id="260bf7c0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>It was the pure Language of the World. It required no explanation, just as the universe needs none as it travels through endless time. What the boy felt at that moment was that he was in the presence of the only woman in his life, and that, with no need for words, she recognized the same thing. He was more certain of it than of anything in the world. He had been told by his parents and grandparents that he must fall in love and really know a person before becoming committed.</p><p>But maybe people who felt that way had never learned the universal language. Because, when you know that language, it&#8217;s easy to understand that someone in the world awaits you, whether it&#8217;s in the middle of the desert or in some great city. And when two such people encounter each other, and their eyes meet, the past and the future become unimportant. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only. It is the hand that evokes love, and creates a twin soul for every person in the world. Without such love, one&#8217;s dreams would have no meaning.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://bh.artstudioworks.net/create-you-own-romantic-weekend/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Great outdoor activities in Brooklyn Hights</title>
		<link>https://bh.artstudioworks.net/great-outdoor-activities-in-brooklyn-hights/</link>
					<comments>https://bh.artstudioworks.net/great-outdoor-activities-in-brooklyn-hights/#respond</comments>
		
		<dc:creator><![CDATA[Debia]]></dc:creator>
		<pubDate>Thu, 25 Nov 2021 17:01:42 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Booking]]></category>
		<category><![CDATA[Hotel]]></category>
		<category><![CDATA[Single room]]></category>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?p=934</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="934" class="elementor elementor-934">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-16341928 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="16341928" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71526e71" data-id="71526e71" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6add58d elementor-widget elementor-widget-text-editor" data-id="6add58d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>You&#8217;ve gotta dance like there&#8217;s nobody watching, love like you&#8217;ll never be hurt, sing like there&#8217;s nobody listening, and live like it&#8217;s heaven on earth. Twenty years from now you will be more disappointed by the things that you didn&#8217;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</p><p>When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too. One is loved because one is loved. No reason is needed for loving.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6482f38c elementor-widget elementor-widget-heading" data-id="6482f38c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Our Story</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-4d7a5b34 elementor-widget elementor-widget-text-editor" data-id="4d7a5b34" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>The simple things are also the most extraordinary things, and only the wise can see them. Everyone seems to have a clear idea of how other people should lead their lives, but none about his or her own. Remember that wherever your heart is, there you will find your treasure. No matter what he does, every person on earth plays a central role in the history of the world. And normally he doesn&#8217;t know it.</p>					</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-245f5982 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="245f5982" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-71752ccf" data-id="71752ccf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-35af2687 elementor-widget elementor-widget-image" data-id="35af2687" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="350" height="289" src="https://bh.artstudioworks.net/wp-content/uploads/2021/11/post_img.jpg" class="attachment-large size-large" alt="" loading="lazy" />											<figcaption class="widget-image-caption wp-caption-text">Your eyes show the strength of your soul.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d9dff67" data-id="6d9dff67" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-45751dfb elementor-widget elementor-widget-text-editor" data-id="45751dfb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tell your heart that the fear of suffering is worse than the suffering itself. And that no heart has ever suffered when it goes in search of its dreams, because every second of the search is a second&#8217;s encounter with God and with eternity. </p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-38f98a6a elementor-widget elementor-widget-text-editor" data-id="38f98a6a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="letter-spacing: -0.1px;">We are travelers on a cosmic journey, star-dust,swirling and dancing in the eddies and whirlpools of infinity. Life is eternal. We have stopped for a moment to encounter each other, to meet, to love, to share. This is a </span></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-278776e3 elementor-widget elementor-widget-text-editor" data-id="278776e3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>precious moment. It is a little parenthesis in eternity. I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4eeb5c6a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4eeb5c6a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3cfe082a" data-id="3cfe082a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6c7e689e elementor-widget elementor-widget-heading" data-id="6c7e689e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">So, I love you because the entire universe conspired to help me find you.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-ee195c7 elementor-widget elementor-widget-text-editor" data-id="ee195c7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>― Paulo Coelho, The Alchemist</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5d60dbe8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d60dbe8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61833c8e" data-id="61833c8e" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-260bf7c0 elementor-widget elementor-widget-text-editor" data-id="260bf7c0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>It was the pure Language of the World. It required no explanation, just as the universe needs none as it travels through endless time. What the boy felt at that moment was that he was in the presence of the only woman in his life, and that, with no need for words, she recognized the same thing. He was more certain of it than of anything in the world. He had been told by his parents and grandparents that he must fall in love and really know a person before becoming committed.</p><p>But maybe people who felt that way had never learned the universal language. Because, when you know that language, it&#8217;s easy to understand that someone in the world awaits you, whether it&#8217;s in the middle of the desert or in some great city. And when two such people encounter each other, and their eyes meet, the past and the future become unimportant. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only. It is the hand that evokes love, and creates a twin soul for every person in the world. Without such love, one&#8217;s dreams would have no meaning.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://bh.artstudioworks.net/great-outdoor-activities-in-brooklyn-hights/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Unforgettable couple&#8217;s  experiences</title>
		<link>https://bh.artstudioworks.net/unforgettable-couples-experiences/</link>
					<comments>https://bh.artstudioworks.net/unforgettable-couples-experiences/#respond</comments>
		
		<dc:creator><![CDATA[Debia]]></dc:creator>
		<pubDate>Thu, 25 Nov 2021 16:57:10 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Booking]]></category>
		<category><![CDATA[Hotel]]></category>
		<category><![CDATA[Single room]]></category>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?p=929</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="929" class="elementor elementor-929">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-16341928 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="16341928" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71526e71" data-id="71526e71" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6add58d elementor-widget elementor-widget-text-editor" data-id="6add58d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>You&#8217;ve gotta dance like there&#8217;s nobody watching, love like you&#8217;ll never be hurt, sing like there&#8217;s nobody listening, and live like it&#8217;s heaven on earth. Twenty years from now you will be more disappointed by the things that you didn&#8217;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</p><p>When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too. One is loved because one is loved. No reason is needed for loving.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6482f38c elementor-widget elementor-widget-heading" data-id="6482f38c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Our Story</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-4d7a5b34 elementor-widget elementor-widget-text-editor" data-id="4d7a5b34" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>The simple things are also the most extraordinary things, and only the wise can see them. Everyone seems to have a clear idea of how other people should lead their lives, but none about his or her own. Remember that wherever your heart is, there you will find your treasure. No matter what he does, every person on earth plays a central role in the history of the world. And normally he doesn&#8217;t know it.</p>					</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-245f5982 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="245f5982" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-71752ccf" data-id="71752ccf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-35af2687 elementor-widget elementor-widget-image" data-id="35af2687" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="350" height="289" src="https://bh.artstudioworks.net/wp-content/uploads/2021/11/post_img.jpg" class="attachment-large size-large" alt="" loading="lazy" />											<figcaption class="widget-image-caption wp-caption-text">Your eyes show the strength of your soul.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d9dff67" data-id="6d9dff67" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-45751dfb elementor-widget elementor-widget-text-editor" data-id="45751dfb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tell your heart that the fear of suffering is worse than the suffering itself. And that no heart has ever suffered when it goes in search of its dreams, because every second of the search is a second&#8217;s encounter with God and with eternity. </p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-38f98a6a elementor-widget elementor-widget-text-editor" data-id="38f98a6a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="letter-spacing: -0.1px;">We are travelers on a cosmic journey, star-dust,swirling and dancing in the eddies and whirlpools of infinity. Life is eternal. We have stopped for a moment to encounter each other, to meet, to love, to share. This is a </span></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-278776e3 elementor-widget elementor-widget-text-editor" data-id="278776e3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>precious moment. It is a little parenthesis in eternity. I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4eeb5c6a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4eeb5c6a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3cfe082a" data-id="3cfe082a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6c7e689e elementor-widget elementor-widget-heading" data-id="6c7e689e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">So, I love you because the entire universe conspired to help me find you.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-ee195c7 elementor-widget elementor-widget-text-editor" data-id="ee195c7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>― Paulo Coelho, The Alchemist</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5d60dbe8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d60dbe8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61833c8e" data-id="61833c8e" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-260bf7c0 elementor-widget elementor-widget-text-editor" data-id="260bf7c0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>It was the pure Language of the World. It required no explanation, just as the universe needs none as it travels through endless time. What the boy felt at that moment was that he was in the presence of the only woman in his life, and that, with no need for words, she recognized the same thing. He was more certain of it than of anything in the world. He had been told by his parents and grandparents that he must fall in love and really know a person before becoming committed.</p><p>But maybe people who felt that way had never learned the universal language. Because, when you know that language, it&#8217;s easy to understand that someone in the world awaits you, whether it&#8217;s in the middle of the desert or in some great city. And when two such people encounter each other, and their eyes meet, the past and the future become unimportant. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only. It is the hand that evokes love, and creates a twin soul for every person in the world. Without such love, one&#8217;s dreams would have no meaning.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://bh.artstudioworks.net/unforgettable-couples-experiences/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Let’s discover the perfect room for you</title>
		<link>https://bh.artstudioworks.net/lets-discover-the-perfect-room/</link>
					<comments>https://bh.artstudioworks.net/lets-discover-the-perfect-room/#respond</comments>
		
		<dc:creator><![CDATA[Debia]]></dc:creator>
		<pubDate>Thu, 25 Nov 2021 16:53:05 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Booking]]></category>
		<category><![CDATA[Hotel]]></category>
		<category><![CDATA[Single room]]></category>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?p=924</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="924" class="elementor elementor-924">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-16341928 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="16341928" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71526e71" data-id="71526e71" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6add58d elementor-widget elementor-widget-text-editor" data-id="6add58d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>You&#8217;ve gotta dance like there&#8217;s nobody watching, love like you&#8217;ll never be hurt, sing like there&#8217;s nobody listening, and live like it&#8217;s heaven on earth. Twenty years from now you will be more disappointed by the things that you didn&#8217;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</p><p>When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too. One is loved because one is loved. No reason is needed for loving.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6482f38c elementor-widget elementor-widget-heading" data-id="6482f38c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Our Story</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-4d7a5b34 elementor-widget elementor-widget-text-editor" data-id="4d7a5b34" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>The simple things are also the most extraordinary things, and only the wise can see them. Everyone seems to have a clear idea of how other people should lead their lives, but none about his or her own. Remember that wherever your heart is, there you will find your treasure. No matter what he does, every person on earth plays a central role in the history of the world. And normally he doesn&#8217;t know it.</p>					</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-245f5982 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="245f5982" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-71752ccf" data-id="71752ccf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-35af2687 elementor-widget elementor-widget-image" data-id="35af2687" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="350" height="289" src="https://bh.artstudioworks.net/wp-content/uploads/2021/11/post_img.jpg" class="attachment-large size-large" alt="" loading="lazy" />											<figcaption class="widget-image-caption wp-caption-text">Your eyes show the strength of your soul.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d9dff67" data-id="6d9dff67" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-45751dfb elementor-widget elementor-widget-text-editor" data-id="45751dfb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tell your heart that the fear of suffering is worse than the suffering itself. And that no heart has ever suffered when it goes in search of its dreams, because every second of the search is a second&#8217;s encounter with God and with eternity. </p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-38f98a6a elementor-widget elementor-widget-text-editor" data-id="38f98a6a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="letter-spacing: -0.1px;">We are travelers on a cosmic journey, star-dust,swirling and dancing in the eddies and whirlpools of infinity. Life is eternal. We have stopped for a moment to encounter each other, to meet, to love, to share. This is a </span></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-278776e3 elementor-widget elementor-widget-text-editor" data-id="278776e3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>precious moment. It is a little parenthesis in eternity. I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4eeb5c6a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4eeb5c6a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3cfe082a" data-id="3cfe082a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6c7e689e elementor-widget elementor-widget-heading" data-id="6c7e689e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">So, I love you because the entire universe conspired to help me find you.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-ee195c7 elementor-widget elementor-widget-text-editor" data-id="ee195c7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>― Paulo Coelho, The Alchemist</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5d60dbe8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d60dbe8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61833c8e" data-id="61833c8e" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-260bf7c0 elementor-widget elementor-widget-text-editor" data-id="260bf7c0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>It was the pure Language of the World. It required no explanation, just as the universe needs none as it travels through endless time. What the boy felt at that moment was that he was in the presence of the only woman in his life, and that, with no need for words, she recognized the same thing. He was more certain of it than of anything in the world. He had been told by his parents and grandparents that he must fall in love and really know a person before becoming committed.</p><p>But maybe people who felt that way had never learned the universal language. Because, when you know that language, it&#8217;s easy to understand that someone in the world awaits you, whether it&#8217;s in the middle of the desert or in some great city. And when two such people encounter each other, and their eyes meet, the past and the future become unimportant. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only. It is the hand that evokes love, and creates a twin soul for every person in the world. Without such love, one&#8217;s dreams would have no meaning.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://bh.artstudioworks.net/lets-discover-the-perfect-room/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Brooklyn Hights most romantic restaurants</title>
		<link>https://bh.artstudioworks.net/brooklyn-hights-romantic-restaurants/</link>
					<comments>https://bh.artstudioworks.net/brooklyn-hights-romantic-restaurants/#respond</comments>
		
		<dc:creator><![CDATA[Debia]]></dc:creator>
		<pubDate>Fri, 22 Oct 2021 08:07:28 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Booking]]></category>
		<category><![CDATA[Hotel]]></category>
		<category><![CDATA[Single room]]></category>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?p=202</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="202" class="elementor elementor-202">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-16341928 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="16341928" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71526e71" data-id="71526e71" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6add58d elementor-widget elementor-widget-text-editor" data-id="6add58d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>You&#8217;ve gotta dance like there&#8217;s nobody watching, love like you&#8217;ll never be hurt, sing like there&#8217;s nobody listening, and live like it&#8217;s heaven on earth. Twenty years from now you will be more disappointed by the things that you didn&#8217;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</p><p>When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too. One is loved because one is loved. No reason is needed for loving.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6482f38c elementor-widget elementor-widget-heading" data-id="6482f38c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Our Story</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-4d7a5b34 elementor-widget elementor-widget-text-editor" data-id="4d7a5b34" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>The simple things are also the most extraordinary things, and only the wise can see them. Everyone seems to have a clear idea of how other people should lead their lives, but none about his or her own. Remember that wherever your heart is, there you will find your treasure. No matter what he does, every person on earth plays a central role in the history of the world. And normally he doesn&#8217;t know it.</p>					</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-245f5982 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="245f5982" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-71752ccf" data-id="71752ccf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-35af2687 elementor-widget elementor-widget-image" data-id="35af2687" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="350" height="289" src="https://bh.artstudioworks.net/wp-content/uploads/2021/11/post_img.jpg" class="attachment-large size-large" alt="" loading="lazy" />											<figcaption class="widget-image-caption wp-caption-text">Your eyes show the strength of your soul.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d9dff67" data-id="6d9dff67" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-45751dfb elementor-widget elementor-widget-text-editor" data-id="45751dfb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tell your heart that the fear of suffering is worse than the suffering itself. And that no heart has ever suffered when it goes in search of its dreams, because every second of the search is a second&#8217;s encounter with God and with eternity. </p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-38f98a6a elementor-widget elementor-widget-text-editor" data-id="38f98a6a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="letter-spacing: -0.1px;">We are travelers on a cosmic journey, star-dust,swirling and dancing in the eddies and whirlpools of infinity. Life is eternal. We have stopped for a moment to encounter each other, to meet, to love, to share. This is a </span></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-278776e3 elementor-widget elementor-widget-text-editor" data-id="278776e3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>precious moment. It is a little parenthesis in eternity. I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4eeb5c6a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4eeb5c6a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3cfe082a" data-id="3cfe082a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6c7e689e elementor-widget elementor-widget-heading" data-id="6c7e689e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">So, I love you because the entire universe conspired to help me find you.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-ee195c7 elementor-widget elementor-widget-text-editor" data-id="ee195c7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>― Paulo Coelho, The Alchemist</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5d60dbe8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d60dbe8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61833c8e" data-id="61833c8e" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-260bf7c0 elementor-widget elementor-widget-text-editor" data-id="260bf7c0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>It was the pure Language of the World. It required no explanation, just as the universe needs none as it travels through endless time. What the boy felt at that moment was that he was in the presence of the only woman in his life, and that, with no need for words, she recognized the same thing. He was more certain of it than of anything in the world. He had been told by his parents and grandparents that he must fall in love and really know a person before becoming committed.</p><p>But maybe people who felt that way had never learned the universal language. Because, when you know that language, it&#8217;s easy to understand that someone in the world awaits you, whether it&#8217;s in the middle of the desert or in some great city. And when two such people encounter each other, and their eyes meet, the past and the future become unimportant. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only. It is the hand that evokes love, and creates a twin soul for every person in the world. Without such love, one&#8217;s dreams would have no meaning.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://bh.artstudioworks.net/brooklyn-hights-romantic-restaurants/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Inspiring design for your sweet holidays</title>
		<link>https://bh.artstudioworks.net/inspiring-design-for-your-sweet-holidays/</link>
					<comments>https://bh.artstudioworks.net/inspiring-design-for-your-sweet-holidays/#respond</comments>
		
		<dc:creator><![CDATA[Debia]]></dc:creator>
		<pubDate>Mon, 23 Aug 2021 09:16:40 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Booking]]></category>
		<category><![CDATA[Hotel]]></category>
		<category><![CDATA[Single room]]></category>
		<guid isPermaLink="false">https://bh.artstudioworks.net/?p=1</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="1" class="elementor elementor-1">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-286ebd89 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="286ebd89" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f424b4c" data-id="2f424b4c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-55e1d1c9 elementor-widget elementor-widget-text-editor" data-id="55e1d1c9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>You&#8217;ve gotta dance like there&#8217;s nobody watching, love like you&#8217;ll never be hurt, sing like there&#8217;s nobody listening, and live like it&#8217;s heaven on earth. Twenty years from now you will be more disappointed by the things that you didn&#8217;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</p><p>When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too. One is loved because one is loved. No reason is needed for loving.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-73113309 elementor-widget elementor-widget-heading" data-id="73113309" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Our Story</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-5a39f02d elementor-widget elementor-widget-text-editor" data-id="5a39f02d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>The simple things are also the most extraordinary things, and only the wise can see them. Everyone seems to have a clear idea of how other people should lead their lives, but none about his or her own. Remember that wherever your heart is, there you will find your treasure. No matter what he does, every person on earth plays a central role in the history of the world. And normally he doesn&#8217;t know it.</p>					</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-43efc900 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="43efc900" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-67f328e5" data-id="67f328e5" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ea58162 elementor-widget elementor-widget-image" data-id="ea58162" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="350" height="289" src="https://bh.artstudioworks.net/wp-content/uploads/2021/11/post_img.jpg" class="attachment-large size-large" alt="" loading="lazy" />											<figcaption class="widget-image-caption wp-caption-text">Your eyes show the strength of your soul.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8c439d1" data-id="8c439d1" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-27cdb177 elementor-widget elementor-widget-text-editor" data-id="27cdb177" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tell your heart that the fear of suffering is worse than the suffering itself. And that no heart has ever suffered when it goes in search of its dreams, because every second of the search is a second&#8217;s encounter with God and with eternity. </p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-4e8b4c44 elementor-widget elementor-widget-text-editor" data-id="4e8b4c44" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="letter-spacing: -0.1px;">We are travelers on a cosmic journey, star-dust,swirling and dancing in the eddies and whirlpools of infinity. Life is eternal. We have stopped for a moment to encounter each other, to meet, to love, to share. This is a </span></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-9f29489 elementor-widget elementor-widget-text-editor" data-id="9f29489" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>precious moment. It is a little parenthesis in eternity. I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-543c0324 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="543c0324" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3f88c5da" data-id="3f88c5da" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2be88762 elementor-widget elementor-widget-heading" data-id="2be88762" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">So, I love you because the entire universe conspired to help me find you.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-174431b1 elementor-widget elementor-widget-text-editor" data-id="174431b1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>― Paulo Coelho, The Alchemist</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5c6e28fd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c6e28fd" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3a07b07d" data-id="3a07b07d" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-75b7d5a5 elementor-widget elementor-widget-text-editor" data-id="75b7d5a5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>It was the pure Language of the World. It required no explanation, just as the universe needs none as it travels through endless time. What the boy felt at that moment was that he was in the presence of the only woman in his life, and that, with no need for words, she recognized the same thing. He was more certain of it than of anything in the world. He had been told by his parents and grandparents that he must fall in love and really know a person before becoming committed.</p><p>But maybe people who felt that way had never learned the universal language. Because, when you know that language, it&#8217;s easy to understand that someone in the world awaits you, whether it&#8217;s in the middle of the desert or in some great city. And when two such people encounter each other, and their eyes meet, the past and the future become unimportant. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only. It is the hand that evokes love, and creates a twin soul for every person in the world. Without such love, one&#8217;s dreams would have no meaning.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://bh.artstudioworks.net/inspiring-design-for-your-sweet-holidays/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
